# Data prep
Here the data is prepared for exploration and analysis.

## Geopandas
The geo file is needed for drawing the map. It is read using geopandas and modified for better usability.

In [1]:
import geopandas as gpd

#Shape file
shapefile = '../data/geo_data/ne_110m_admin_0_countries.shp'
#Read shapefile using Geopandas. Only take the columns needed
gdf = gpd.read_file(shapefile)[['ADMIN', 'ADM0_A3', 'geometry']]
#Rename columns
gdf.columns = ['country', 'country_code', 'geometry']
#Remove antartica because it is irrelevant and takes up a lot of space
gdf = gdf.drop(gdf.index[159]) 
gdf.head()

,country,country_code,geometry
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

## Death count
The death count file is read using pandas and also modified for better usability.

In [2]:
import pandas as pd 

#Death count datafile
datafile = '../data/time_series_covid19_deaths_global_iso3_regions.csv'
#Read using pandas. Only include relevant columns
deaths_df = pd.read_csv(datafile,usecols = lambda column : column not in ['Lat', 'Long','Region Code', 'Region Name', 'Sub-region Code', 'Sub-region Name', 'Intermediate Region Code','Intermediate Region Name'])
#Rename column for consistency
deaths_df = deaths_df.rename(columns={"ISO 3166-1 Alpha 3-Codes": "country_code"})
deaths_df.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,country_code
0,#adm1+name,#country+name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#country+code
1,NaN,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50.0,57.0,58.0,60.0,64.0,68.0,72.0,85.0,90.0,AFG
2,NaN,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,28.0,28.0,30.0,30.0,31.0,31.0,31.0,31.0,31.0,ALB
3,NaN,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,425.0,432.0,437.0,444.0,450.0,453.0,459.0,463.0,465.0,DZA
4,NaN,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40.0,40.0,41.0,42.0,42.0,43.0,44.0,45.0,45.0,AND

For some countries the death count has been entered for individual provinces or states, therefore the data is grouped by country and summed to get the count for each country.

In [3]:
country_total_df = deaths_df.groupby(['country_code']).sum().reset_index()

Finally the dataframe is merged with the geo data in order to add geometry for each country and NaNs are replaced with 'No data'.

In [4]:
country_total_df = gdf.merge(country_total_df, on = 'country_code', how = 'left')
#country_total_df.fillna('No data', inplace = True)
country_total_df.head()

,country,country_code,geometry,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,10.0,10.0,10.0,16.0,16.0,16.0,16.0,16.0,16.0
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2570.0,2686.0,2840.0,2982.0,3154.0,3309.0,3536.0,3683.0,3794.0,4002.0
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53755.0,54881.0,56259.0,58355.0,60967.0,62996.0,64943.0,66369.0,67682.0,68922.0

## Countermeasures
The countermeasures data file is read using pandas. Flag and notes columns are emitted as these are not relevant for this analysis.

In [5]:
countermeasures_file = '../data/OxCGRT.csv'
#Read csv file using pandas
countermeasures_df = pd.read_csv(countermeasures_file, usecols = lambda column : ('_Flag' not in column and '_Notes' not in column))
countermeasures_df = countermeasures_df.rename(columns={"CountryCode": "country_code"})
countermeasures_df.head()

,CountryName,country_code,Date,C1_School closing,C2_Workplace closing,C3_Cancel public events,C4_Restrictions on gatherings,C5_Close public transport,C6_Stay at home requirements,C7_Restrictions on internal movement,...,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,M1_Wildcard,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,LegacyStringencyIndex,LegacyStringencyIndexForDisplay
0,Aruba,ABW,20200101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,Aruba,ABW,20200102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,Aruba,ABW,20200103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,Aruba,ABW,20200104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,Aruba,ABW,20200105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0

Columns names are modified so they do not include spaces.

In [6]:
countermeasures_df.columns = countermeasures_df.columns.str.replace(' ', '_')

The date column is formatted so it has the same format as in the death count dataframe

In [7]:
def convertDate(date): 
    # convert 20200122 into 1/22/20
    s = str(date)
    year = s[2:4]
    month = s[5:6]
    day = str(int(s[6:8]))
    return month + '/' + day + '/' + year

countermeasures_df['Date'] = countermeasures_df['Date'].apply(convertDate)

In [8]:
countermeasures_df.head()

,CountryName,country_code,Date,C1_School_closing,C2_Workplace_closing,C3_Cancel_public_events,C4_Restrictions_on_gatherings,C5_Close_public_transport,C6_Stay_at_home_requirements,C7_Restrictions_on_internal_movement,...,H3_Contact_tracing,H4_Emergency_investment_in_healthcare,H5_Investment_in_vaccines,M1_Wildcard,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,LegacyStringencyIndex,LegacyStringencyIndexForDisplay
0,Aruba,ABW,1/1/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,Aruba,ABW,1/2/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,Aruba,ABW,1/3/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,Aruba,ABW,1/4/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,Aruba,ABW,1/5/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0

### Create separate dataframes for each countermeasure
To enable map interactions a separate dataframe is created for each countermeasure.

A list of items to include is defined. Only the containments and closures are selected. These are the columns starting with uppercase C.

In [9]:
columns = list(countermeasures_df.columns)
items_to_include = [item for item in columns if (item.startswith('C') and '_' in item)]

The countermeasure dataframes are created and saved in a dictionary. Each dataframe is also merged with the geodata.

In [10]:
countermeasure_dfs = {}
for item in items_to_include:
    t = countermeasures_df[['country_code', 'Date', item]]
    countermeasure_dfs[item] = t.set_index(['country_code', 'Date'])[item].unstack().reset_index()
    countermeasure_dfs[item] = gdf.merge(countermeasure_dfs[item], on = 'country_code', how = 'left')
    #countermeasure_dfs[item].fillna('No data', inplace = True)

# Population
To be able to show dead per million population count for each country is needed. 
source: https://data.worldbank.org/indicator/sp.pop.totl

In [11]:
#Death count datafile
datafile = '../data/population.csv'
#Read using pandas. Only include relevant columns
population = pd.read_csv(datafile,header=2, usecols = lambda column : column in ['Country Code', '2018'])
#Rename columns
population.columns=['country_code', 'population']

Add population info to country death count dataframe by merging population with dataframe.

In [12]:
#Merge on contry code
country_total_df_with_population = country_total_df.merge(population, on = 'country_code', how = 'left')
country_total_df_with_population.head()

,country,country_code,geometry,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,population
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,883483.0
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,10.0,10.0,16.0,16.0,16.0,16.0,16.0,16.0,56318348.0
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2686.0,2840.0,2982.0,3154.0,3309.0,3536.0,3683.0,3794.0,4002.0,37057765.0
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,54881.0,56259.0,58355.0,60967.0,62996.0,64943.0,66369.0,67682.0,68922.0,326687501.0

The population is missing for some countries. The following lists all rows with missing population.

In [13]:
country_total_df_with_population[country_total_df_with_population['population'].isna()]

,country,country_code,geometry,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,population
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Falkland Islands,FLK,"POLYGON ((-61.20000 -51.85000, -60.00000 -51.2...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
23,French Southern and Antarctic Lands,ATF,"POLYGON ((68.93500 -48.62500, 69.58000 -48.940...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Palestine,PSX,"POLYGON ((35.39756 31.48909, 34.92741 31.35344...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Taiwan,TWN,"POLYGON ((121.77782 24.39427, 121.17563 22.790...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,NaN
154,Eritrea,ERI,"POLYGON ((36.42951 14.42211, 36.32322 14.82249...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
159,Northern Cyprus,CYN,"POLYGON ((32.73178 35.14003, 32.80247 35.14550...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Somaliland,SOL,"POLYGON ((48.94820 11.41062, 48.94820 11.41062...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,Kosovo,KOS,"POLYGON ((20.59025 41.85541, 20.52295 42.21787...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,South Sudan,SDS,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The population count is missing for 10 of the countries in the death count dataset. Since there are only 10 missing values these are added manually. The population for every country but two is found on www.worldometers.info. The sources for the other two are listed below.

Western Sahara: 567,402

Falkland Islands: 3,234

French Southern and Antarctic Lands	: 0 (source: https://en.wikipedia.org/wiki/French_Southern_and_Antarctic_Lands)

Palestine: 4,862,979

Taiwan: 23,726,460

Eritrea: 3,457,786

Northern Cyprus: 1,189,265

Somaliland: 15,008,226

Kosovo: 1,797,086 (source: https://en.wikipedia.org/wiki/Demographics_of_Kosovo)

South Sudan: 10,975,927

The population is added manually by index.

In [14]:
#Set population value for the missing countries
country_total_df_with_population.at[2,'population'] = 567402
country_total_df_with_population.at[20,'population'] = 3234
country_total_df_with_population.at[23,'population'] = 0
country_total_df_with_population.at[79,'population'] = 4862979
country_total_df_with_population.at[140,'population'] = 23726460
country_total_df_with_population.at[154,'population'] = 3457786
country_total_df_with_population.at[159,'population'] = 1189265
country_total_df_with_population.at[166,'population'] = 15008226
country_total_df_with_population.at[173,'population'] = 1797086
country_total_df_with_population.at[175,'population'] = 10975927

A final check to insure that there are no missing values.

In [15]:
country_total_df_with_population[country_total_df_with_population['population'].isna()]

IndexError: too many indices for array

Empty GeoDataFrame
Columns: [country, country_code, geometry, 1/22/20, 1/23/20, 1/24/20, 1/25/20, 1/26/20, 1/27/20, 1/28/20, 1/29/20, 1/30/20, 1/31/20, 2/1/20, 2/2/20, 2/3/20, 2/4/20, 2/5/20, 2/6/20, 2/7/20, 2/8/20, 2/9/20, 2/10/20, 2/11/20, 2/12/20, 2/13/20, 2/14/20, 2/15/20, 2/16/20, 2/17/20, 2/18/20, 2/19/20, 2/20/20, 2/21/20, 2/22/20, 2/23/20, 2/24/20, 2/25/20, 2/26/20, 2/27/20, 2/28/20, 2/29/20, 3/1/20, 3/2/20, 3/3/20, 3/4/20, 3/5/20, 3/6/20, 3/7/20, 3/8/20, 3/9/20, 3/10/20, 3/11/20, 3/12/20, 3/13/20, 3/14/20, 3/15/20, 3/16/20, 3/17/20, 3/18/20, 3/19/20, 3/20/20, 3/21/20, 3/22/20, 3/23/20, 3/24/20, 3/25/20, 3/26/20, 3/27/20, 3/28/20, 3/29/20, 3/30/20, 3/31/20, 4/1/20, 4/2/20, 4/3/20, 4/4/20, 4/5/20, 4/6/20, 4/7/20, 4/8/20, 4/9/20, 4/10/20, 4/11/20, 4/12/20, 4/13/20, 4/14/20, 4/15/20, 4/16/20, 4/17/20, 4/18/20, 4/19/20, 4/20/20, 4/21/20, 4/22/20, 4/23/20, 4/24/20, 4/25/20, 4/26/20, 4/27/20, ...]
Index: []

[0 rows x 108 columns]

In [16]:
country_total_df_with_population.isnull().values.any()

True

The dataframe is now complete.

# Dataframe with dead per million
To make it easier to work with a separate dataframe is created where the death count is listed as number of dead per million instead of total number of dead.

First a list of the relevant columns is created. These are all the date columns. There are a few special columns that do not contain other values for the countries than dead count. These are the columns: country, country code, geometry and the newly added population.

In [17]:
#List special columns
special_columns = ['country', 'country_code', 'geometry', 'population']
#List date columns by taking every column that is not in the other list
date_columns = [x for x in country_total_df_with_population.columns if x not in special_columns]

The new dataframe is created by dividing by population divided with a million. There are some 'no data' values which must be skipped and there are some countries with a population of zero witch must also be skipped.

In [18]:
#Copy the 
dead_per_million_df = country_total_df_with_population.copy()
for date in date_columns: 
    #Convert column to numeric
    dead_per_million_df[date]= pd.to_numeric(dead_per_million_df[date], errors='coerce')
    #Calculate dead per million
    dead_per_million_df[date] = (dead_per_million_df[date]/((country_total_df_with_population['population'])/1000000)).where(not(isinstance(country_total_df_with_population[date], str) ) and (country_total_df_with_population['population']>0), dead_per_million_df[date])

#Fill missing values with 'No data' again
#dead_per_million_df.fillna('No data', inplace = True)

Take a look at the new dataframe.

In [19]:
dead_per_million_df.head()

,country,country_code,geometry,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,population
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,883483.0
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.177562,0.177562,0.177562,0.284099,0.284099,0.284099,0.284099,0.284099,0.284099,56318348.0
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,567402.0
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,72.481435,76.637110,80.468965,85.110368,89.293027,95.418599,99.385378,102.380702,107.993561,37057765.0
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,167.992347,172.210445,178.626363,186.621771,192.832599,198.792423,203.157451,207.176582,210.972259,326687501.0